<h1>Listing recipes</h1>

<table>
  <thead>
    <tr>
      <th>Cook time</th>
      <th>Prep time</th>
      <th>Name</th>
      <th>Description</th>
      <th>Steps</th>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.cook_time %></td>
        <td><%= recipe.prep_time %></td>
        <td><%= recipe.name %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.steps %></td>
        <td><%= recipe.rating %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
